body {
    margin: 0;
}


.container{
    width:100%;
    height: calc(100vh - 80px);

    background-image:
    linear-gradient(
        rgba(232,150,0,0.35),
        rgba(0,0,0,0.2)
    ),
    url(images/unnamed.jpg);

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

img {
    width: 100%;
    height: auto;
}

.navbar{
    background:#E89600;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:1px;
    position:relative;
    flex-wrap: wrap;
}

.logo {
    position:absolute;
    left:20px;
    width:60px;
}

.ul-homepage {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.li-homepage{
    list-style-type:none;
    padding:25px 35px;
    color:white;
    font-size:25px;
    transition:0.3s;
}


.li-homepage:hover{
    background-color: rgba(0,0,0,0.6);
    border-radius:4px;
}

a {
    text-decoration: none;
    color: white;
}